<h1>*ngFor Objects</h1>
<div>
  <div *ngFor="let product of products">
    <img width="40" [src]="product.image" alt="image" />
    <h2> {{product.price}} </h2>
    <p> {{product.name}} </p>
    <p> {{product.category}} </p>
  </div>
</div>

<br/>
<br/>
<hr/>

<h1>*ngFor</h1>
<input type="text" [(ngModel)]="newName"/>
<button (click)="addName()">Add Name</button>
<ul>
  <li *ngIf="names.length == 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{i}} - {{name}}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<br />
<hr />

<h1>*ngIf</h1>
<input type="text" [(ngModel)]="person.name" />
<p *ngIf="person.name==='Manuel'">Soy Manuel</p>
<p *ngIf="person.name==='Victor' && person.age===18; else elseBlock">Soy Victor</p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>

<br><br>
<hr>

<h1>Data Binding</h1>
<!--NgModel es la combinación del Event Binding y el Property Binding-->
<h2>NgModel</h2>
<p>Nombre {{person.name}}</p>
<input type="text" [(ngModel)]="person.name" required #nameInput="ngModel">
<p>Valid: {{nameInput.valid}}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age">
<p>Valid: {{ageInput.valid}}</p>

<br><br>
<hr>
<br><br>

<h1>Event Binding</h1>
<button [disabled]="btnDisable">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{person.age}}</p>
<button (click)="incraseAge()">Age ++</button>
<br><br>
<div class="box" (scroll)="onScroll($event)">
  <p>
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
    layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
    using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web
    page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web
    sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
    purpose (injected humour and the like).
  </p>
</div>
<p>Nombre {{person.name}}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)">

<br><br>
<hr>
<br><br>

<h1>Property Binding</h1>
<button [disabled]="btnDisable">Enviar</button>
<input type="text" [value]="name">
<progress max="100" [value]="age"></progress>
<img width="150" [src]="img">
<br><br>
<br><br>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="200" [src]="person.foto">

<br><br>
<hr>
<br><br>

<h1>String Interpolation</h1>
<h2>{{'Hola UPC '.repeat(6)}}</h2>
<p>4 + 5 = {{4+5}}</p>
<h3>Hola! soy {{name}} y tengo {{age}} años</h3>
<img src={{img}} alt="image">